################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Demo/v16/Server/sqlite3
/.vs/Demo/v16/Server/sqlite3
/.vs/Demo/v16/Server/sqlite3
/.vs/Demo/config
/Demo/bin/Debug/netcoreapp3.1
/Demo/obj/Debug/netcoreapp3.1
